.buildingSection {
  color: #fff;
  background-color: #1a1a1a;
  .buildingContent {
    .button {
      color: #fff;
      border-color: #fff;
    }
    .imageTextFirstPart {
      margin-top: 177px;
    }
    .imageTextSecondPart {
      margin-top: 212px;
    }
    .imageTextThirdPart {
      margin-top: 222px;
    }
  }
}
