.buildingSection {
  color: #fff;
  background-color: #1a1a1a;
  .button {
    color: #fff;
    border-color: #fff;
  }
  .imageTextFirstPart {
    margin-top: 177px;
  }
  .imageTextSecondPart {
    margin-top: 212px;
  }
  .imageTextThirdPart {
    margin-top: 222px;
  }
}

.tablet.buildingSection {
  padding-bottom: 64px;
  .imageTextFirstPart,
  .imageTextSecondPart,
  .imageTextThirdPart {
    margin-top: 64px;
  }
}

.mobile.buildingSection {
  .imageTextFirstPart,
  .imageTextSecondPart,
  .imageTextThirdPart {
    margin-top: 48px;
  }
}
