.buildingSection {
  color: #fff;
  background-color: #1a1a1a;
  .buildingContent {
    display: flex;
    flex-direction: column;
  }
}

.desktop.buildingSection {
  .buildingContent {
    gap: 120px;
  }
}

.tablet.buildingSection {
  .buildingContent {
    gap: 48px;
  }
}

.mobile.buildingSection {
  .buildingContent {
    gap: 48px;
  }
}
