@mixin animationStyles($translateX, $translateY, $width, $height, $opacity: 1) {
  transform: translate($translateX, $translateY);
  width: $width;
  height: $height;
  opacity: $opacity;
}

.animationLogoIllustration {
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .shadowLarge,
  .shadowSmall {
    opacity: 0.6;
  }
  .logo,
  .shadowLarge,
  .shadowSmall {
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

/** Desktop styles **/
@mixin desktopLogoStartStyles {
  @include animationStyles(199px, 180px, 85px, 89px);
}

@mixin desktopLogoEndStyles {
  @include animationStyles(199px, 194px, 85px, 89px);
}

@mixin desktopShadowLargeStartStyles {
  @include animationStyles(249px, 155px, 116px, 88px, 0.6);
}

@mixin desktopShadowLargeEndStyles {
  @include animationStyles(250px, 192px, 86px, 65px, 1);
}

@mixin desktopShadowSmallStartStyles {
  @include animationStyles(209px, 256px, 75px, 34px, 0.6);
}

@mixin desktopShadowSmallEndStyles {
  @include animationStyles(219px, 264px, 57px, 26px, 1);
}

@keyframes desktopLogoMove {
  0%,
  100% {
    @include desktopLogoStartStyles;
  }
  50% {
    @include desktopLogoEndStyles;
  }
}

@keyframes desktopShadowLargeMove {
  0%,
  100% {
    @include desktopShadowLargeStartStyles;
  }
  50% {
    @include desktopShadowLargeEndStyles;
  }
}

@keyframes desktopShadowSmallMove {
  0%,
  100% {
    @include desktopShadowSmallStartStyles;
  }
  50% {
    @include desktopShadowSmallEndStyles;
  }
}

.desktop.animationLogoIllustration {
  .logo {
    @include desktopLogoStartStyles;
    animation-name: desktopLogoMove;
  }
  .shadowLarge {
    @include desktopShadowLargeStartStyles;
    animation-name: desktopShadowLargeMove;
  }
  .shadowSmall {
    @include desktopShadowSmallStartStyles;
    animation-name: desktopShadowSmallMove;
  }
}

/** Tablet and mobile styles **/
@mixin tabletLogoStartStyles {
  @include animationStyles(124px, 112px, 53px, 56px);
}

@mixin tabletLogoEndStyles {
  @include animationStyles(124px, 121px, 53px, 56px);
}

@mixin tabletShadowLargeStartStyles {
  @include animationStyles(155px, 97px, 73px, 55px, 0.6);
}

@mixin tabletShadowLargeEndStyles {
  @include animationStyles(157px, 120px, 53px, 41px, 1);
}

@mixin tabletShadowSmallStartStyles {
  @include animationStyles(130px, 160px, 47px, 21px, 0.6);
}

@mixin tabletShadowSmallEndStyles {
  @include animationStyles(137px, 165px, 36px, 16px, 1);
}

@keyframes tabletLogoMove {
  0%,
  100% {
    @include tabletLogoStartStyles;
  }
  50% {
    @include tabletLogoEndStyles;
  }
}

@keyframes tabletShadowLargeMove {
  0%,
  100% {
    @include tabletShadowLargeStartStyles;
  }
  50% {
    @include tabletShadowLargeEndStyles;
  }
}

@keyframes tabletShadowSmallMove {
  0%,
  100% {
    @include tabletShadowSmallStartStyles;
  }
  50% {
    @include tabletShadowSmallEndStyles;
  }
}

.tablet.animationLogoIllustration {
  .logo {
    @include tabletLogoStartStyles;
    animation-name: tabletLogoMove;
  }
  .shadowLarge {
    @include tabletShadowLargeStartStyles;
    animation-name: tabletShadowLargeMove;
  }
  .shadowSmall {
    @include tabletShadowSmallStartStyles;
    animation-name: tabletShadowSmallMove;
  }
}

.mobile.animationLogoIllustration {
  .logo {
    @include tabletLogoStartStyles;
    animation-name: tabletLogoMove;
  }
  .shadowLarge {
    @include tabletShadowLargeStartStyles;
    animation-name: tabletShadowLargeMove;
  }
  .shadowSmall {
    @include tabletShadowSmallStartStyles;
    animation-name: tabletShadowSmallMove;
  }
}
