.venturesSection {
  background: url("../../../assets/ecosystem/EcosystemVenturesBackground.png")
    no-repeat bottom;
  background-size: 100% auto;
  background-color: #f5f5f5;
  color: #011853;
  .iconCardPart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolioPart {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .portfolioPartTitle {
    color: #011853;
    text-align: center;
    font-family: "Poppins-Medium";
    font-weight: 500;
    line-height: normal;
  }
  .portfolioCardWrap {
    &:nth-child(1) .portfolioCardIcon {
      width: 120px;
    }
    &:nth-child(2) .portfolioCardIcon {
      width: 111px;
    }
    &:nth-child(3) .portfolioCardIcon {
      width: 80px;
    }
    &:nth-child(4) .portfolioCardIcon {
      width: 80px;
    }
    &:nth-child(5) .portfolioCardIcon {
      width: 86px;
      height: 80px;
      padding: 18px 4px;
    }
  }
  .portfolioCard {
    height: 100%;
    padding: 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  .portfolioCardIcon {
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.desktop.venturesSection {
  padding-bottom: 300px;
  .iconCardPart {
    margin-top: 64px;
    gap: 48px;
  }
  .portfolioPart {
    margin-top: 64px;
  }
  .portfolioPartTitle {
    font-size: 32px;
  }
}

.tablet.venturesSection {
  padding-top: 80px;
  padding-bottom: 200px;
  .venturesHeader {
    max-width: none;
  }
  .iconCardPart {
    margin-top: 80px;
    gap: 32px;
  }
  .iconCardItemTitle {
    font-size: 16px;
  }
  .portfolioPart {
    margin-top: 48px;
  }
  .portfolioPartTitle {
    font-size: 20px;
  }
}

.mobile.venturesSection {
  padding-bottom: 120px;
  .iconCardPart {
    margin-top: 48px;
    gap: 32px;
  }
  .iconCardItemTitle {
    font-size: 20px;
  }
  .speakButton {
    width: 100%;
  }
  .portfolioPart {
    margin-top: 48px;
  }
  .portfolioPartTitle {
    font-size: 20px;
  }
}
