.startCardSection {
  background-color: #fff;
  .startCardItem {
    height: 100%;
  }
}

.desktop.startCardSection {
  padding-top: 64px;
  padding-bottom: 16px;
  .sectionTitle {
    margin-bottom: 32px;
  }
}

.tablet.startCardSection {
  padding-top: 64px;
  padding-bottom: 16px;
  .sectionTitle {
    margin-bottom: 24px;
  }
}

.mobile.startCardSection {
  padding-top: 48px;
  padding-bottom: 24px;
  .sectionTitle {
    margin-bottom: 24px;
  }
}
