@mixin animationStyles($translateX, $translateY, $width, $height, $opacity: 1) {
  transform: translate($translateX, $translateY);
  width: $width;
  height: $height;
  opacity: $opacity;
}

.landingHeroAnimationImage {
  img {
    width: 100%;
    height: 100%;
  }
  .shadowLarge,
  .shadowSmall {
    opacity: 0.6;
  }
  .logo,
  .shadowLarge,
  .shadowSmall {
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

/** Desktop styles **/
@mixin desktopLogoStartStyles {
  @include animationStyles(227px, 83px, 141px, 148px);
}

@mixin desktopLogoEndStyles {
  @include animationStyles(227px, 99px, 141px, 148px);
}

@mixin desktopShadowLargeStartStyles {
  @include animationStyles(295px, 99px, 137px, 104px, 0.6);
}

@mixin desktopShadowLargeEndStyles {
  @include animationStyles(292px, 124px, 117px, 89px, 1);
}

@mixin desktopShadowSmallStartStyles {
  @include animationStyles(257px, 218px, 91px, 41px, 0.6);
}

@mixin desktopShadowSmallEndStyles {
  @include animationStyles(270px, 221px, 64px, 29px, 1);
}

@keyframes desktopLogoMove {
  0%,
  100% {
    @include desktopLogoStartStyles;
  }
  50% {
    @include desktopLogoEndStyles;
  }
}

@keyframes desktopShadowLargeMove {
  0%,
  100% {
    @include desktopShadowLargeStartStyles;
  }
  50% {
    @include desktopShadowLargeEndStyles;
  }
}

@keyframes desktopShadowSmallMove {
  0%,
  100% {
    @include desktopShadowSmallStartStyles;
  }
  50% {
    @include desktopShadowSmallEndStyles;
  }
}

.desktop.landingHeroAnimationImage {
  position: absolute;
  top: -151px;
  right: -40px;
  width: 604px;
  height: 604px;
  .logo {
    @include desktopLogoStartStyles;
    animation-name: desktopLogoMove;
  }
  .shadowLarge {
    @include desktopShadowLargeStartStyles;
    animation-name: desktopShadowLargeMove;
  }
  .shadowSmall {
    @include desktopShadowSmallStartStyles;
    animation-name: desktopShadowSmallMove;
  }
}

/** Tablet and mobile styles **/
@mixin tabletLogoStartStyles {
  @include animationStyles(114px, 42px, 71px, 74px);
}

@mixin tabletLogoEndStyles {
  @include animationStyles(114px, 50px, 71px, 74px);
}

@mixin tabletShadowLargeStartStyles {
  @include animationStyles(148px, 50px, 68px, 52px, 0.6);
}

@mixin tabletShadowLargeEndStyles {
  @include animationStyles(146px, 62px, 58px, 44px, 1);
}

@mixin tabletShadowSmallStartStyles {
  @include animationStyles(129px, 109px, 46px, 21px, 0.6);
}

@mixin tabletShadowSmallEndStyles {
  @include animationStyles(135px, 111px, 32px, 15px, 1);
}

@keyframes tabletLogoMove {
  0%,
  100% {
    @include tabletLogoStartStyles;
  }
  50% {
    @include tabletLogoEndStyles;
  }
}

@keyframes tabletShadowLargeMove {
  0%,
  100% {
    @include tabletShadowLargeStartStyles;
  }
  50% {
    @include tabletShadowLargeEndStyles;
  }
}

@keyframes tabletShadowSmallMove {
  0%,
  100% {
    @include tabletShadowSmallStartStyles;
  }
  50% {
    @include tabletShadowSmallEndStyles;
  }
}

.tablet.landingHeroAnimationImage {
  position: absolute;
  top: -27px;
  right: 0;
  width: 302px;
  height: 302px;
  .logo {
    @include tabletLogoStartStyles;
    animation-name: tabletLogoMove;
  }
  .shadowLarge {
    @include tabletShadowLargeStartStyles;
    animation-name: tabletShadowLargeMove;
  }
  .shadowSmall {
    @include tabletShadowSmallStartStyles;
    animation-name: tabletShadowSmallMove;
  }
}

.mobile.landingHeroAnimationImage {
  position: relative;
  width: 302px;
  height: 302px;
  margin: 0 auto 32px;
  .logo {
    @include tabletLogoStartStyles;
    animation-name: tabletLogoMove;
  }
  .shadowLarge {
    @include tabletShadowLargeStartStyles;
    animation-name: tabletShadowLargeMove;
  }
  .shadowSmall {
    @include tabletShadowSmallStartStyles;
    animation-name: tabletShadowSmallMove;
  }
}
