.firstScreenSection {
  padding-top: 155px;
  padding-bottom: 115px;
  background-color: #fff;
  .firstScreenContent {
    position: relative;
  }
  .introductionPart {
    width: 557px;
    margin-bottom: 208px;
  }
  .title {
    margin-bottom: 24px;
    color: #011853;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
  .description {
    margin-bottom: 32px;
    color: #011853;
    font-size: 16px;
    line-height: normal;
  }
  .buttonWrap {
    display: flex;
    gap: 16px;
  }
  .landingImg {
    position: absolute;
    top: -151px;
    right: -40px;
    width: 604px;
    height: 604px;
  }
  .partnerPartTitle {
    margin-bottom: 32px;
    color: #a2a2a2;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .partnerPartContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px 0;
  }
  .partnerImgWrap {
    flex: 1 1 20%;
    max-width: 20%;
  }
}

.tablet.firstScreenSection {
  padding-top: 72px;
  padding-bottom: 48px;
  .introductionPart {
    width: 324px;
    margin-bottom: 75px;
  }
  .title {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 48px;
  }
  .description {
    margin-bottom: 16px;
  }
  .landingImg {
    top: -27px;
    right: 0;
    width: 302px;
    height: 302px;
  }
  .partnerPartTitle {
    margin-bottom: 24px;
  }
}

.mobile.firstScreenSection {
  padding-top: 34px;
  padding-bottom: 48px;
  .introductionPart {
    width: auto;
    margin-bottom: 48px;
  }
  .title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 40px;
  }
  .description {
    font-size: 14px;
  }
  .buttonWrap .button {
    flex: 1;
  }
  .landingImg {
    position: static;
    width: 302px;
    height: 302px;
    margin: 0 auto 32px;
  }
  .partnerPartTitle {
    margin-bottom: 16px;
  }
  .partnerImgWrap {
    flex: 1 1 50%;
    max-width: 50%;
  }
}
