.pageWrap {
  position: relative;
  color: #fff;
  padding-top: 70px;
}

.backgroundWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
}

.desktop {
  .backgroundWrap {
    min-width: 1200px;
    height: 1830px;
  }
}
.mobile {
  .backgroundWrap {
    height: 630px;
  }
  .blogPart{
    padding-top: 0;
  }
}

.desktop {
  .title {
    color: #fff;
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .blogList {
    display: flex;
    flex-wrap: wrap;
    gap: 101px;
    margin-top: 84px;
  }
  .noData {
    height: 254px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
    border-radius: 8px;
  }

  .loading {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
  }

  @media screen and (max-width: 1500px) {
    .blogList {
      gap: 67px;
    }
    
  }
  .pageNation {
    padding-top: 129px;
  }
}

.pageNation {
  display: flex;
  justify-content: center;
  :global {
    .ant-pagination-item-active {
      background-color: transparent;
      border: 1px solid #8d8d8d;
      color: #8d8d8d;
    }
    .ant-pagination-item-link {
      border-radius: 4px;
      border: 1px solid #8d8d8d;
      color: #8d8d8d !important;
      background-color: transparent;
      a {
        color: #8d8d8d;
      }
    }
    a {
      color: #8d8d8d;
    }
    .ant-pagination-item {
      color: #8d8d8d ;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #8d8d8d;
    }

    .ant-select-selection-item {
      color: #8d8d8d;
    }
    .ant-select-selector {
      border: 1px solid #8d8d8d;
      background: transparent !important;
      color: #fff;
      border-color: #8d8d8d !important;
    }
    .ant-select-arrow {
      color: #8d8d8d;
    }
    .ant-select-dropdown {
      background: transparent;
      color: #8d8d8d;
      border: 1px solid #8d8d8d;
      padding: 0;
    }
    .ant-select-item-option-active {
      background-color: #484848;
    }
    .ant-select-item-option-selected {
      color: #fff;
      background-color: #484848;
    }
    .ant-select-item {
      color: #ffff;
    }
    .ant-pagination .ant-pagination-item-active a {
      color: #fff;
    }
    .ant-pagination-item {
      a {
        color: #8d8d8d;
      }
    }
  }
}

.mobile {
  .title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 18px;
    text-align: center;
  }

  .noData {
    height: 180px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
    border-radius: 8px;
  }
  .loading {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 38px;
  }

  .blogList {
    margin-top: 46px;
  
  }

  .pageNation {
    padding-top: 84px;
  }
}
