.pageWrap {
  position: relative;
  color: #fff;
  padding-top: 70px;
}

.backgroundWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
}

.desktop {
  .backgroundWrap {
    min-width: 1200px;
    height: 1830px;
  }
}
.mobile {
  .backgroundWrap {
    height: 630px;
  }
}

.desktop {
  .title {
    color: #fff;
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .blogList {
    display: flex;
    flex-wrap: wrap;
    gap: 101px;
    margin-top: 84px;
  }

  .blogItem {
    cursor: pointer;
    position: relative;
    color: #fff;
    width: 28.3%;
    background: linear-gradient(137deg, #282828 21.49%, #414040 100%);
    border-radius: 8px;
    .blogItemImg {
      width: 100%;
      height: 200px;
      border-top-left-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow: hidden;
    }
    .content {
      padding: 40px 25px 30px 25px;
    }
    .itemTime {
      color: #8d8d8d;
      line-height: 30px;
      font-weight: 600;
      font-size: 16px;
    }
    .itemTitle {
      font-size: 20px;
      margin-top: 25px;
      font-weight: 500;
      height: 90px;
      overflow: hidden;
    }
    .btn {
      margin: 20px 0;
      color: #8d8d8d;
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      cursor: pointer;
    }
    .tagContent {
      display: flex;
      gap: 10px;
      .tag {
        display: inline-block;
        background-color: #fff;
        border-radius: 6px;
        color: #000;
        font-size: 12px;
        text-align: center;
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
      }
    }
  }

  @media screen and (max-width: 1500px) {
    .blogList {
      gap: 67px;
    }
    .blogItem {
      width: 29.6%;
    }
  }
  .pageNation {
    padding-top: 129px;
  }
}

.pageNation {
  display: flex;
  justify-content: center;
  :global {
    .ant-pagination-item-active {
      background-color: transparent;
      border: 1px solid #8d8d8d;
      color: #8d8d8d;
    }
    .ant-pagination-item-link {
      color: #8d8d8d !important;
      a {
        color: #8d8d8d;
      }
    }
    a {
      color: #8d8d8d;
    }
    .ant-select-selection-item {
      color: #8d8d8d;
    }
    .ant-select-selector {
      border: 1px solid #8d8d8d;
      background: transparent;
      color: #fff;
      border-color: #8d8d8d !important;
    }
    .ant-select-arrow {
      color: #8d8d8d;
    }
    .ant-select-dropdown {
      background: transparent;
      color: #8d8d8d;
      border: 1px solid #8d8d8d;
      padding: 0;
    }
    .ant-select-item-option-active {
      background-color: #484848;
    }
    .ant-select-item-option-selected {
      color: #fff;
      background-color: #484848;
    }
    .ant-select-item {
      color: #ffff;
    }
    .ant-pagination .ant-pagination-item-active a {
      color: #fff;
    }
    .ant-pagination-item {
      a {
        color: #8d8d8d;
      }
    }
  }
}

.mobile {
  .title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 18px;
    text-align: center;
  }

  .blogList {
    margin-top: 46px;
    .blogItem {
      border-bottom: 1px solid #484848;
      margin-bottom: 30px;
      &:last-child {
        border-bottom: none;
      }
      .blogItemImg {
        height: 195px;
        margin-bottom: 46px;
      }
      .content {
        padding: 0 24px;
      }
      .itemTime {
        color: #8d8d8d;
        line-height: 36px;
        font-weight: 600;
        font-size: 16px;
      }
      .itemTitle {
        font-size: 20px;
        margin-top: 12px;
        font-weight: 600;
        margin-bottom: 34px;
      }
      .tagContent {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
        .tag {
          display: inline-block;
          background-color: #282828;
          border-radius: 6px;
          color: #fff;
          font-size: 12px;
          text-align: center;
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
        }
      }
    }
  }

  .pageNation {
    padding-top: 84px;
  }
}
