.commonSection {
  overflow: hidden;
  .commonContent {
    margin: 0 auto;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .leftHeader {
    align-items: flex-start;
  }
  .centerHeader {
    align-items: center;
  }
  .title {
    font-weight: 500;
    line-height: normal;
    font-family: "Poppins-Medium";
  }
  .description {
    line-height: normal;
  }
}

.desktop {
  padding: 120px 40px;
  .commonContent {
    max-width: 1128px;
  }
  .header {
    gap: 16px;
    max-width: 786px;
  }
  .centerHeader {
    max-width: none;
  }
  .title {
    font-size: 36px;
  }
  .description {
    font-size: 16px;
  }
}

.tablet {
  padding: 48px 40px;
  .commonContent {
    max-width: 664px;
  }
  .header {
    gap: 8px;
    max-width: 437px;
  }
  .centerHeader {
    max-width: none;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}

.mobile {
  padding-top: 48px;
  padding-bottom: 48px;
  &.mdMobilePaddingLeftAndRight {
    padding-left: 24px;
    padding-right: 24px;
  }
  &.smMobilePaddingLeftAndRight {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    gap: 16px;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 14px;
  }
}
