@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Poppins-Regular" !important;
  font-size: 14px !important;
  line-height: normal !important;
  color: #011853 !important;
}

a {
  text-decoration: none;
  transition: none;
  &,
  &:hover,
  &:active {
    color: inherit;
  }
}
