STRAPI_IMAGE=replace_with_harbor_image
STRAPI_ENV_FILE=./cms/.env.production
STRAPI_HOST_BIND=127.0.0.1
STRAPI_HOST_PORT=1337

BLOG_DOCKER_NETWORK=aelf-blog_aelf_blog

DATABASE_HOST=postgres
DATABASE_PORT=5432
BLOG_DATABASE_NAME=aelf_blog
BLOG_DATABASE_USERNAME=aelf_blog
BLOG_DATABASE_PASSWORD=replace_me
DATABASE_SSL=false

BLOG_PREVIEW_ORIGIN=https://aelf.com
STRAPI_PREVIEW_SECRET=replace_me
