BLOG_DATABASE_NAME=aelf_blog
BLOG_DATABASE_USERNAME=aelf_blog
BLOG_DATABASE_PASSWORD=replace_me

NEXT_PUBLIC_APP_ENV=production
BLOG_CANONICAL_ORIGIN=https://blog.aelf.com
STRAPI_MEDIA_ORIGIN=https://s3.ap-east-1.amazonaws.com/aelf.com
STRAPI_API_TOKEN=replace_me
STRAPI_REVALIDATE_SECRET=replace_me
