HOST=0.0.0.0
PORT=1337
APP_KEYS=replace_me_1,replace_me_2
API_TOKEN_SALT=replace_me
ADMIN_JWT_SECRET=replace_me
TRANSFER_TOKEN_SALT=replace_me
JWT_SECRET=replace_me
ENCRYPTION_KEY=replace_me

DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=aelf_blog
DATABASE_USERNAME=aelf_blog
DATABASE_PASSWORD=replace_me
DATABASE_SSL=false

CRON_ENABLED=true
PLUGIN_PUBLISHER_ENABLED=true
BLOG_REVALIDATE_URL=http://website:3000/api/blog/revalidate
STRAPI_REVALIDATE_SECRET=replace_me
BLOG_PREVIEW_ORIGIN=http://localhost:3000
STRAPI_PREVIEW_SECRET=replace_me

AWS_ACCESS_KEY_ID=replace_me
AWS_ACCESS_SECRET=replace_me
AWS_REGION=ap-southeast-1
AWS_BUCKET=replace_me
AWS_ACL=private
AWS_ROOT_PATH=blog
AWS_SIGNED_URL_EXPIRES=900
AWS_CDN_URL=https://cdn.example.com
