HOST=0.0.0.0
PORT=1337
APP_KEYS=replace_me_1,replace_me_2
API_TOKEN_SALT=replace_me
ADMIN_JWT_SECRET=replace_me
TRANSFER_TOKEN_SALT=replace_me
JWT_SECRET=replace_me
ENCRYPTION_KEY=replace_me

DATABASE_CLIENT=postgres
DATABASE_SSL=false

CRON_ENABLED=true
PLUGIN_PUBLISHER_ENABLED=true
BLOG_REVALIDATE_URL=https://blog.aelf.com/api/blog/revalidate
STRAPI_REVALIDATE_SECRET=replace_me
BLOG_PREVIEW_ORIGIN=https://aelf.com
STRAPI_PREVIEW_SECRET=replace_me

AWS_ACCESS_KEY_ID=replace_me
AWS_ACCESS_SECRET=replace_me
AWS_REGION=ap-east-1
AWS_BUCKET=aelf.com
AWS_ACL=public-read
AWS_ROOT_PATH=blog
AWS_SIGNED_URL_EXPIRES=900
AWS_CDN_URL=https://s3.ap-east-1.amazonaws.com/aelf.com
