.guideCardItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  .textWrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .title {
    color: #011853;
    font-family: "Poppins-Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
  }
  .description {
    color: #011853;
    font-size: 12px;
    line-height: normal;
  }
  .button {
    font-family: "Poppins-Regular";
    font-size: 14px;
  }
}

.mobile.guideCardItem {
  padding: 24px;
}
