.startCardItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 32px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  .logo {
    width: 32px;
    height: 32px;
  }
  .text {
    color: #011853;
    font-family: "Poppins-Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
}

.desktop.startCardItem {
  gap: 32px;
  padding: 32px;
}

.tablet.startCardItem {
  gap: 32px;
  padding: 32px;
}

.mobile.startCardItem {
  gap: 24px;
  padding: 24px;
}
