.experienceSection {
  color: #fff;
  background-color: #1a1a1a;
  .cardPart {
    display: flex;
    gap: 16px;
    margin-top: 64px;
  }
  .card {
    flex: 1;
  }
  .recentBlogList {
    margin-top: 66px;
  }
}

.tablet.experienceSection {
  .cardPart {
    margin-top: 32px;
  }
  .recentBlogList {
    margin-top: 50px;
  }
}
