.overviewSection {
  color: #011853;
  background-color: #f5f5f5;
  .overviewContent {
    display: flex;
    flex-direction: column;
  }
}

.desktop.overviewSection {
  .overviewContent {
    gap: 120px;
  }
}

.tablet.overviewSection {
  padding-top: 80px;
  padding-bottom: 80px;
  .overviewContent {
    gap: 48px;
  }
  .overviewHeader {
    max-width: none;
  }
}

.mobile.overviewSection {
  .overviewContent {
    gap: 48px;
  }
  .imageTextPart {
    gap: 24px;
  }
}
