.functionSection {
  background: url("../../../assets/landing/LandingFunctionBackground.png")
    no-repeat bottom;
  background-size: 100% auto;
  background-color: #fff;
  .functionCardWrap {
    display: flex;
    gap: 16px;
  }
  .dappsPart {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .dappsPartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dappsPartHeaderLeftWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .dappsPartTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    font-family: "Poppins-Medium";
  }
  .dappsPartDescription {
    font-size: 14px;
    line-height: normal;
  }
  .dappsPartList {
    display: flex;
    gap: 24px;
  }
  .dappCard {
    flex: 1;
  }
  .exploreButton {
    background-color: #fff;
  }
}

.desktop.functionSection {
  padding-bottom: 350px;
  .functionCardWrap,
  .dappsPart {
    margin-top: 64px;
  }
  .functionCardItem {
    flex: 1 1 50%;
  }
}

.tablet.functionSection {
  padding-bottom: 200px;
  .functionCardWrap,
  .dappsPart {
    margin-top: 48px;
  }
  .functionCardItem {
    flex: 1 1 50%;
  }
  .dappsPartTitle {
    font-size: 16px;
  }
  .dappsPartDescription {
    font-size: 12px;
  }
  .dappsPartList {
    gap: 16px;
  }
}

.mobile.functionSection {
  padding-bottom: 200px;
  .functionCardWrap,
  .dappsPart {
    margin-top: 24px;
  }
  .functionCardWrap,
  .dappsPartList {
    flex-direction: column;
  }
}
